
@{
    ViewBag.Title = "Index";
}


<div class="section panel panel-primary">
    <div class="panel-heading">Administration</div>
    <div class="panel-body">
        <div class="list-group">
            @Html.ActionLink("Groups", "Groups", null, new { @class = "list-group-item" })
        </div>
    </div>


</div>

