
@{
    ViewBag.Title = "Index";
}


<div class="section panel panel-primary">
    <div class="panel-heading">Administration</div>
    <ul>
        <li>
            Manage
            <ul>
                <li>@Html.ActionLink("Groups","Groups")</li>
                <li>Encounters</li>
            </ul>
        </li>

    </ul>

    </div>
</div>

