body {
  
  background: url("Images/background.jpg") no-repeat scroll 50% 0 #252523;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#wrapper {
    background-color: #333;
    max-width: 1000px;
}
