@using InitiativeTracker.Domain.Entities
@model IEnumerable<Encounter>

@{
    ViewBag.Title = "Index";
}

    <div class="section panel panel-primary">
        <div class="panel-heading">Select an Encounter to Load</div>
        <div class="panel-body">
            <div class="list-group">
                @foreach (Encounter item in Model)
                {
                    @Html.ActionLink(@item.Name, "Start", new { id = item.Encounter_ID }, 
                        new { @class = "list-group-item" })
                }
            </div>
        </div>
    </div>