@using InitiativeTracker.Domain.Entities
@model IEnumerable<Character>

@{
    ViewBag.Title = "Index";
}

    <div class="row">
        <button id="add-characters" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Manage Encounter</button>
        <button id="roll-initiative" class="btn btn-primary pull-right">Roll Initiative</button>
    </div>
    <hr>
    <!-- # of Rounds will be updated here -->
    <div id='round-tracker'></div>

    <!-- Characters will be inserted here for display -->
    <div data-bind="if: model.displayEncounter">
        @Html.Partial("encounter")
    </div>

    <div data-bind="ifnot: model.displayEncounter">
        @Html.Partial("setupEncounter");
    </div>