
<div id="summary" class="section panel panel-primary"
     data-bind="if: model.displaySummary">
    <div class="panel-heading">Current Characters</div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr><th>ID</th><th>Name</th><th>Group</th><th></th></tr>
            </thead>
            <tbody data-bind="foreach: model.characters">
                <tr>
                    <td data-bind="text: CharacterID"></td>
                    <td><span data-bind="click: updateCharacter, text:Name"
                                                     class="characterLink"></span></td>
                    <td data-bind="text: Group"></td>
                    <td>
                        <button class="btn btn-xs btn-primary"
                                data-bind="click: removeItem">
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary"
                data-bind="click: Create">
            Create
        </button>
    </div>
</div>