
@{
    ViewBag.Title = "Characters";
}

<div data-bind="if: model.displaySummary">
    @Html.Partial("summary")
</div>

<div data-bind="ifnot: model.displaySummary">
    @Html.Partial("editor");
</div>